# no .pyc files
*.pyc

# no .swp files
*.swp

# protect keys, tokens, and passwords
secret.py

# ignore local sqlite database files
**/db.sqlite*

# ignore fabfile
fabfile.py

# Windows Thumb files?
*Thumbs.db
