{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>The Feedback Lounge</title>
	<link rel="stylesheet" href="{% static 'zach/foundation.min.css' %}">
	<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'zach/style-agency.css' %}">
</head>

<body>

<div class="callout large">
	<div class="top-bar">
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Connect</a></li>
			</ul>
		</div>
	</div>
	<div class="row column text-center">
		<h1>The Feedback Lounge</h1>
		<p class="lead">Zach Lobertini</p>
		<a href="#" class="button large">Connect</a>
		<a href="#" class="button large hollow">Learn More</a>
	</div>
</div>

<div class="row intro">
	<div class="medium-6 columns medium-push-6">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/jtv_user_pictures/mic_feedback-channel_offline_image-deed9a142172a6a2-1920x1080.jpeg">
	</div>
	<div class="medium-6 columns medium-pull-6">
		<p>People know me as Mic The Microphone, a #horsefamous musician from the MLP scene. Nowadays, I do music in my spare time and stream here on Twitch as my main job. :D My primary focus is bringing you the best video quality and entertainment I can muster. Sit back, relax, and kick up your feet in the Feedback Lounge. Hope you enjoy! :D</p>
	</div>
</div>

<div class="row widgets">
	<div class="medium-4 columns">
		<h3>Games</h3>
		<p>The stuff I play and the stuff I want to play.</p>
	</div>
	<div class="medium-4 columns">
		<h3>Equipment</h3>
		<p>Everything from microphones to screens to cables.</p>
	</div>
	<div class="medium-4 columns">
		<h3>Rules</h3>
		<p>Respect each other; don't be a dick; read the rules.</p>
	</div>
</div>

<hr>

<div class="row column">
	<ul class="vertical medium-horizontal menu expanded text-center">
		<li><a href="#"><div class="stat">606,728</div><span>Views</span></a></li>
		<li><a href="#"><div class="stat">10,400</div><span>Followers</span></a></li>
		<li><a href="#"><div class="stat">260</div><span>Subscribers</span></a></li>
	</ul>
</div>
<hr>
<div class="row column">
	<h3>Highlights</h3>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_e187/mic_feedback_19721596912_404872961//thumb/thumb48496655-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_274a/mic_feedback_19515353376_399269468//thumb/thumb43807547-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_5da5/mic_feedback_19359458976_395057263//thumb/thumb42822307-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_4d55/mic_feedback_19167377792_389871594//thumb/thumb42813717-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_cc06/mic_feedback_18176665168_362444443//thumb/thumb38057219-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_8fcf/mic_feedback_18158707424_361963925//thumb/thumb38057160-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_495d/mic_feedback_18125834320_361091958//thumb/thumb38057084-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_d702/mic_feedback_18110014784_360670411//thumb/thumb38057023-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_f720/mic_feedback_18089998496_360128702//thumb/thumb38056906-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_73cb/mic_feedback_18076080368_359736616//thumb/thumb38056859-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_efc1/mic_feedback_18047759072_358928119//thumb/thumb38056642-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_665e/mic_feedback_18032548000_358518327//thumb/thumb38056578-320x240.jpg">
	</div>
</div>
<hr>
<div class="row column">
	<h3>Recent Broadcasts</h3>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_f18b/mic_feedback_19944669504_410872490/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_ba9b/mic_feedback_19943390560_410836289/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_c2cb/mic_feedback_19886447872_409346561/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_c9b4/mic_feedback_19859891712_408598976/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_b303/mic_feedback_19836987232_407959442/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_a55b/mic_feedback_19817096928_407428276/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_01c0/mic_feedback_19804817920_407111535/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_60e1/mic_feedback_19802453392_407046105/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_a1c9/mic_feedback_19799398032_406947646/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_2559/mic_feedback_19797537424_406895136/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_a70f/mic_feedback_19782294480_406498015/thumb/thumb0-320x240.jpg">
	</div>
	<div class="column">
		<img class="thumbnail" src="https://static-cdn.jtvnw.net/v1/AUTH_system/vods_ff98/mic_feedback_19777566400_406365823/thumb/thumb0-320x240.jpg">
	</div>
</div>
<hr>
<div class="row column">
	<ul class="menu">
		<li><a href="#">One</a></li>
		<li><a href="#">Two</a></li>
		<li><a href="#">Three</a></li>
		<li><a href="#">Four</a></li>
	</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>$(document).foundation();</script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>

</body>
</html>
