{% extends 'base/base.html' %}

{% block title %}Zach Lobertini{% endblock title %}

{% block content %}
<h1>The Feedback Lounge</h1>
<p>Welcome to the Feedback Lounge! My name is Zach, but most people know me as Mic The Microphone. I've been gaming and doing music for the better majority of my life, and between that and doing VO work and voice acting, I can honestly say I'm living my dream. With years of experience, tons of gaming options, and a wonderful community at our backs, we strive to give back, entertain, and form a tight-knit family here. Follow up if you wanna kick it with us! We'd be glad to have you. :D</p>
{% endblock content %}
