#main {
  background: rgba(21, 46, 114, 0.9);
  padding: 32px;
}

.main-content {
  background: none;
  margin: 0;
  padding: 0 16px;
}

#twitch-stats img {
  max-height: 200px;
  float: left;
  margin-right: 20px;
}

span.offline {
  display: none;
}

span.live {
  margin-left: 10px;
  color: #da0;
  font-weight: bold;
  box-shadow: 0 0 10px 10px rgba(221, 170, 0, 0.2);
  background: rgba(221, 170, 0, 0.2);
}

img.offline {
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
}

img.offline:hover {
  box-shadow: 0px 0px 15px 5px rgba(221,170,0,0.7);
}

img.live {
  box-shadow: 0px 0px 10px 5px rgba(221,170,0,0.7);
}

img.live:hover {
  box-shadow: 0px 0px 10px 5px rgba(221,170,0,1);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
  background: none;
  border: 1px solid transparent;
  color: #da0;
}

.nav-tabs {
  border-top: 2px solid #CCD;
}

#promo {
  float: right;
  border-left: 2px solid #CCD;
  padding: 10px;
  text-align: center;
  min-width: 250px;
}

#promo img {
  max-height: 200px;
}

blockquote {
  border-left: 2px solid #CCD;
}